---
import Section from "../Section.astro";
import HTML from "@/icons/html.astro";
import CSS from "@/icons/css.astro";
import JavaScript from "@/icons/javascript.astro";
import TypeScript from "@/icons/type.astro";
import MySQL from "@/icons/sql.astro";
import Git from "@/icons/git.astro";
import GitHub from "@/icons/GitHub.astro";
import { skills } from "@cv";
import NPM from "@/icons/npm.astro";
import GraphQL from "@/icons/graphQL.astro";
import Springboot from "@/icons/springboot.astro";
import Java from "@/icons/java.astro";
import Docker from "@/icons/docker.astro";
import SQL from "@/icons/sql.astro";
import NoSQL from "@/icons/nosql.astro";
import Oracle from "@/icons/oracle.astro";
import Hibernate from "@/icons/hibernate.astro";
import Maven from "@/icons/maven.astro";
import Junit from "@/icons/junit.astro";
import Kubernetes from "@/icons/kubernetes.astro";
import Apache from "@/icons/apache.astro";

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  Springboot,
  Java,
  Docker,
  TypeScript,
  SQL,
  MySQL,
  NoSQL,
  Git,
  Oracle,
  Hibernate,
  Maven,
  Junit,
  Kubernetes,
  Apache,
  GitHub,
  NPM,
  GraphQL,
};
---

<Section title="Skill">
  <ul>
    {
      skills.map(({ name }) => {
        const iconName = name === "Next.js" ? "Next" : name;
        const Icon = SKILLS_ICONS[iconName];

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
